@model xx0000xWebAppIEP.Models.Auction

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Auctions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Auction</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreationDT)
        @Html.HiddenFor(model => model.Image)
        @Html.HiddenFor(model => model.PriceInc)
        @Html.HiddenFor(model => model.ClosingDT)
        @Html.HiddenFor(model => model.OpeningDT)
        @Html.HiddenFor(model => model.Status)
        @Html.HiddenFor(model => model.Active)
        @Html.HiddenFor(model => model.RowVersion)

        @Html.HiddenFor(model => model.ProductName)
        @Html.HiddenFor(model => model.Duration)
        @Html.HiddenFor(model => model.ImageToUpload)

       
        <h2>   @Html.DisplayFor(model => model.ProductName, new { htmlAttributes = new { } }) </h2>              
          


        <div class="form-group">
            @Html.LabelFor(model => model.StartingPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartingPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartingPrice, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
